<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Sign Up</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class="login-page">
<header>
    <div class="container">
        <a href="/" title="Take me home">
            <img class="logo" src="images/logo.png">
        </a>
        <p>
        <h1>Sign Up</h1>
        </p>
    </div>
</header>

<main class="signup-page">

    <form>
        <div class="container login-page">
            <p>What Account do you need:</p>
            <p><select onChange="document.location = this.value">
                <option value="" disabled selected>Make a choice</option>
                <option value="signup/advertiser">Advertiser</option>
                <option value="signup//publisher">Publisher</option>
            </select></p>
            <!--<button>Next</button>-->
        </div>
    </form>

</main>

<footer>
    <div class="container">
        &copy; MMXVI Marco Greselin
    </div>
</footer>


<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>