<header>
    <div class="container">
        <nav>

            <a href="/console" title="Take me home">
                <img class="logo" src="../images/logo-loggedin.png">
            </a>

            <ul class="left">
                <li><a href="../console/my-ads">My Ads</a></li>
                <li><a href="../console/snippet">Get your snippet</a></li>
                <li><a href="../console/answer">Answer Calls</a></li>
            </ul>

            <ul class="right">
                <li>Welcome Marco</li>
                <li><a href="../">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>