@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/Asap-Regular.otf") format("opentype"); }

body {
  background-color: #E9EBEE;
  color: black;
  font-family: FontAwesome, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; }

a {
  color: inherit; }
  a .selected {
    padding-bottom: 2px;
    border-bottom: 2px solid; }

a:hover {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid; }

input:active {
  outline: none !important; }

input:focus {
  outline: none !important; }

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

header {
  background: linear-gradient(#0075a9, #880A6C); }

nav {
  margin-top: 3rem;
  height: 100px;
  padding-bottom: 30px; }
  nav .logo {
    position: relative;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    float: left; }
  nav ul.left {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline;
    float: left; }
    nav ul.left li {
      list-style: none;
      text-align: center;
      color: #E6FFF9;
      display: inline-block;
      padding-left: 40px; }
  nav ul.right {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #E6FFF9;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 0px; }
    nav ul.right li {
      list-style: none;
      text-align: center;
      color: #E6FFF9; }

main {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px; }

.home {
  align-items: center; }
  .home img {
    width: 80%; }

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-size: 12px;
  text-align: left !important; }

.console-home .menu-box {
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  min-height: 50px;
  background: linear-gradient(#0075a9, #880A6C);
  color: white; }

textarea#snippet {
  display: block;
  width: 500px;
  height: 250px;
  border: 1px solid #880A6C;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px; }

h1 {
  margin-bottom: 40px; }

.menu-box {
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  min-height: 50px;
  background: linear-gradient(#0075a9, #880A6C);
  color: white; }

.answer-video {
  height: 400px; }

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%; }

.center-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%; }

table {
  border: 1px solid #880A6C;
  border-radius: 5px;
  border-collapse: separate; }
  table td {
    padding-left: 15px; }
  table th {
    padding: 8px;
    font-size: 20px;
    background: #880A6C;
    color: white; }

button:focus {
  outline: none !important; }

button.add-campaign, .modal-body .btn {
  border: 2px solid #880A6C;
  text-align: center;
  display: block;
  background: transparent;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px; }

button:hover.add-campaign, .modal-body .btn:hover {
  color: white;
  background: #880A6C; }

button:focus.add-campaign, .modal-body .btn:focus {
  outline: none !important; }

.setup main {
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

.setup img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.setup h1 {
  text-align: center;
  margin-bottom: 20px; }

.setup h5 {
  text-align: center; }

.setup h3 {
  text-align: center;
  margin-bottom: 20px; }

.setup .wrap {
  border: solid 5px #880A6C;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px; }
  .setup .wrap form {
    display: block;
    margin: 0 auto;
    width: 80%; }
    .setup .wrap form li {
      text-align: left;
      list-style-type: none; }
    .setup .wrap form label.error {
      font-size: 10px;
      margin-bottom: 0px;
      margin-left: 17px;
      margin-top: 3px;
      display: block;
      position: relative !important;
      margin: 0;
      text-align: center;
      color: #880A6C; }
    .setup .wrap form .row {
      margin-top: 7px; }
    .setup .wrap form input {
      margin-top: 0px;
      width: 100%;
      padding-left: 5px;
      border-radius: 5px;
      border: solid 1px black; }
    .setup .wrap form input.error {
      border: solid 2px #880A6C; }
  .setup .wrap h3 {
    text-align: center; }
  .setup .wrap .highlight {
    color: #880A6C;
    font-weight: bold;
    margin-top: 20px; }
  .setup .wrap select {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block; }
  .setup .wrap select.error {
    border: solid 2px #880A6C; }
  .setup .wrap #address2 {
    margin-top: 5px; }
  .setup .wrap button {
    margin: 0 auto;
    display: block;
    border: solid 5px #880A6C;
    border-radius: 5px;
    background: #880A6C;
    margin-top: 20px;
    color: white; }
  .setup .wrap #companytype {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .setup .wrap #country {
    width: 100% !important; }
  .setup .wrap .errorsbox {
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin: 10px; }

.modal-body {
  background-color: #E9EBEE;
  border-radius: 5px; }
  .modal-body input {
    border: 0px;
    border-bottom: 2px solid #880A6C;
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    margin-top: 20px;
    background: transparent;
    color: #880A6C; }
  .modal-body .btn {
    width: 200px; }
  .modal-body .fileinput-filename {
    font-size: 12px; }
  .modal-body .btn.btn-default.btn-file {
    margin: 0px;
    margin-top: 20px; }

.modal-footer {
  background-color: #880A6C; }
  .modal-footer .btn {
    border: solid 2px white;
    color: white;
    background: transparent; }

.modal-box {
  border-radius: 5px; }

/*# sourceMappingURL=style-loggedin.css.map */