$primary-color: black
$logo-color: #E6FFF9
$primary-font: FontAwesome, Helvetica, sans-serif
$first-gradient: #880A6C
$second-gradient: #0075A9

@font-face
  font-family: 'FontAwesome'
  src: url('fonts/Asap-Regular.otf') format('opentype')
body
  background-color:  #E9EBEE
  color: $primary-color
  font-family: $primary-font
  display: flex
  flex-direction: column
::selection
  background: $first-gradient
  color: white
a
  color: inherit
  .selected
    padding-bottom: 2px
    border-bottom: 2px solid
a:hover
  color: inherit
  text-decoration: none
  padding-bottom: 2px
  border-bottom: 2px solid
input:active
  outline: none
input:focus
  outline: none
img
  user-drag: none
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none
header
  background: linear-gradient(rgba(0,117,169,1), #880A6C)
nav
  margin-top: 3rem
  height: 100px
  padding-bottom: 30px
  .logo
    position: relative
    height: 40px
    top: 50%
    transform: translateY(-50%)
    float: left
  ul.left
    position: relative
    top: 50%
    transform: translateY(-50%)
    display: inline
    float: left
    li
      list-style: none
      text-align: center
      color: $logo-color
      display: inline-block
      padding-left: 40px
  ul.right
    float: right
    position: relative
    top: 50%
    transform: translateY(-50%)
    border: 1px solid $logo-color
    border-radius: 3px
    padding: 10px
    margin-bottom: 0px
    li
      list-style: none
      text-align: center
      color: $logo-color
main
  margin-top: 30px
  padding-top: 30px
  padding-bottom: 30px
.home
  align-items: center
  img
    width: 80%
footer
  margin-top: 20px
  margin-bottom: 20px
  color: $primary-color
  font-size: 12px
  text-align: left!important
.console-home
  .menu-box
    display: inline-block
    border-radius: 3px
    padding: 10px
    margin: 0 auto
    text-align: center
    min-height: 50px
    background: linear-gradient(rgba(0,117,169,1), #880A6C)
    color: white
textarea#snippet
  display: block
  width: 500px
  height: 250px
  border: 1px solid #880A6C
  border-radius: 3px
  margin-left: auto
  margin-right: auto
  margin-top: 30px
  padding: 10px
h1
  margin-bottom: 40px
.menu-box
  display: inline-block
  border-radius: 3px
  padding: 10px
  margin: 0 auto
  text-align: center
  min-height: 50px
  background: linear-gradient(rgba(0,117,169,1), #880A6C)
  color: white
.answer-video
  height: 400px
  width: 400px
  overflow: hidden
video
  display: block
  margin-left: auto
  margin-right: auto
  position: relative
  height: 100%
.center-container
  display: block
  margin-left: auto
  margin-right: auto
  position: relative
  height: 100%
table
  //border-radius: 5px
  border-collapse: separate
  //border-radius: 5px
  //border-spacing: 0
  //overflow: hidden
  tr:first-child th:first-child
    border-top-left-radius: 5px
  tr:first-child th:last-child
    border-top-right-radius: 5px
  tr
    height: 40px
  tr td
    border-right: 1px solid $first-gradient
    border-bottom: 1px solid $first-gradient
    min-height: 40px
  tr:last-child td
    border-bottom: 2px solid $first-gradient!important
  tr td:first-child
    border-left: 2px solid $first-gradient
  tr td:last-child
    border-right: 2px solid $first-gradient
  td:last-child td:first-child
    border-bottom-left-radius: 5px

  td
    padding-left: 15px
    padding-right: 15px
  th
    padding: 8px
    font-size: 20px
    background: $first-gradient
    color: white
  #admin-circle
    height: 30px
    margin-left: auto
    margin-right: auto
    display: block

button:focus
  outline: none!important
button.add-campaign
  border: 2px solid $first-gradient
  text-align: center
  display: block
  background: transparent
  border-radius: 5px
  margin-top: 10px
  margin-bottom: 20px
  padding: 10px
button:hover.add-campaign
  color: white
  background: $first-gradient
button:focus.add-campaign
  outline: none!important
#campaign-wizard
  #title.valid
    text-align: center
    margin-left: auto
    margin-right: auto
  .fileinput-filename
    width: 250px
    text-align: center
  .btn-file
    margin-left: auto
    margin-right: auto
  .row.selectpreview
    height: 180px
    position: relative
    .left
      position: relative
      top: 50%
      transform: translateY(-50%)
  label
    margin: 0px
  .error
    color: $second-gradient
  li
    display: block
    list-style-type: none
    text-align: center
  #preview
    margin-top: 30px
    display: block
    height: 150px
    position: relative
    top: 50%
#activesuspended
  text-align: center
  font-size: .8em
#localVideo
  margin-left: auto
  margin-right: auto
  display: block
.setup
  main
    width: 600px
    margin-left: auto
    margin-right: auto
  img
    position: relative
    display: block
    margin-left: auto
    margin-right: auto
    margin-bottom: 30px
  h1
    text-align: center
    margin-bottom: 20px
  h5
    text-align: center
  h3
    text-align: center
    margin-bottom: 20px
  .wrap
    border: solid 5px #880A6C
    border-radius: 5px
    margin-top: 30px
    padding: 20px
    form
      display: block
      margin: 0 auto
      width: 80%
      li
        text-align: left
        list-style-type: none
      label.error
        font-size: 10px
        margin-bottom: 0px
        margin-left: 17px
        margin-top: 3px
        display: block
        position: relative!important
        margin: 0
        text-align: center
        color: #880A6C
      .row
        margin-top: 7px
      input
        margin-top: 0px
        width: 100%
        padding-left: 5px
        border-radius: 5px
        border: solid 1px $primary-color
      input.error
        border: solid 2px #880A6C
    h3
      text-align: center
    .highlight
      color: #880A6C
      font-weight: bold
      margin-top: 20px
    select
      margin-left: auto
      margin-right: auto
      margin-bottom: 10px
      display: block
    select.error
      border: solid 2px #880A6C
    #address2
      margin-top: 5px
    button
      margin: 0 auto
      display: block
      border: solid 5px #880A6C
      border-radius: 5px
      background: #880A6C
      margin-top: 20px
      color: white
    #companytype
      font-size: 20px
      margin-top: 20px
      margin-bottom: 20px
    #country
      width: 100%!important
    .errorsbox
      border-radius: 5px
      text-align: center
      margin: 0 auto
      display: block
      margin: 10px

.modal-body
  background-color: #E9EBEE
  border-radius: 5px
  input
    border: 0px
    border-bottom: 2px solid $first-gradient
    display: block
    font-size: 20px
    margin-bottom: 20px
    padding-left: 5px
    margin-top: 10px
    background: transparent
    color: $first-gradient
  input.campaign-title
      width: 400px
      margin-top: 30px
      margin-left: auto
      margin-right: auto
      text-align: center
      font-size: 30px
      display: block

  .btn
    @extend button.add-campaign
    width: 200px
  .fileinput-filename
    font-size: 12px
  .btn.btn-default.btn-file
    margin: 0px
    margin-top: 20px
  p
    margin-top: 40px
    margin-bottom: 40px
button#home
  display: block
  background: $first-gradient
  font-size: 2em
  border: 1px solid transparent
  border-radius: 5px
  padding: 10px
  color: white
.video-container
  position: relative
  width: 100%
.modal-footer
  background-color: $first-gradient



  .btn
    border: solid 2px white
    color: white
    background: transparent
  .btn:active
    background: transparent
    border: solid 2px white
  .btn:hover
    background: white
    border: solid 2px $first-gradient
    color: $first-gradient
.no-content
  color: grey
  margin-top: 80px
  margin-bottom: 80px
  text-align: center
  font-size: 4em
#agentmodal
  .row
    position: relative
    height: 150px
    margin-top: 30px
  .circle
    border: 1px solid $first-gradient
    border-radius: 50%
    background: $first-gradient
    height: 100px
    width: 100px
    text-align: center
    font-size: 70px
    color: white
    margin: 30px
    position: relative
    margin-top: auto
    margin-bottom: auto
  input
    width: 300px
#emailnotfound
  color: $first-gradient
  font-size: 0.8em
input#email
  margin-bottom: 10px
.text-center
  text-align: center
