@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/Asap-Regular.otf") format("opentype"); }

body {
  background: linear-gradient(#0075a9, #880A6C) fixed;
  color: #ffffff;
  font-family: FontAwesome, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; }

a {
  color: inherit; }

a:focus {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid; }

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

nav {
  margin-top: 3rem;
  height: 70px; }
  nav .logo {
    position: relative;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    float: left; }
  nav ul.left {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline;
    float: left; }
    nav ul.left li {
      list-style: none;
      text-align: center;
      color: #F2E278;
      display: inline-block;
      padding-left: 40px; }
  nav ul.right {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #F2E278;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 0px; }
    nav ul.right li {
      list-style: none;
      text-align: center;
      color: #F2E278; }

main {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.2); }

.home {
  align-items: center; }
  .home img {
    width: 80%; }

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-align: left !important; }

.login-page {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center; }
  .login-page label.error {
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 17px;
    margin-top: 3px;
    display: block;
    position: absolute; }
  .login-page main {
    border-radius: 3px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .login-page .err {
    color: #F2E278;
    font-size: 13px; }
  .login-page .row {
    height: 70px; }
  .login-page p {
    display: block; }
  .login-page input {
    border: 3px solid white;
    border-radius: 4px;
    color: black;
    margin-left: 10px;
    padding-left: 5px; }
  .login-page input.error {
    border: solid #F2E278; }
  .login-page button {
    margin-top: 15px;
    border: 3px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    transition: background-color 0.1s ease; }
  .login-page button:hover {
    background-color: white;
    color: #000; }
  .login-page img {
    height: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.signup-page select {
  background-color: white;
  border: 7px solid white;
  border-radius: 4px;
  color: black;
  margin-left: 10px; }

.registration-page {
  font-size: 1.2rem;
  padding: 20px;
  text-align: center; }
  .registration-page label.error {
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 3px;
    display: block;
    position: absolute; }
  .registration-page .left {
    text-align: right; }
  .registration-page main {
    border-radius: 3px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .registration-page .row {
    margin: 5px;
    display: flex;
    align-items: center;
    height: 57px; }
  .registration-page .col-md-4 {
    padding: 0px; }
  .registration-page input {
    border: 3px solid white;
    border-radius: 4px;
    color: black;
    width: 100%;
    padding-left: 5px; }
  .registration-page input.error {
    border: solid #F2E278; }
  .registration-page button {
    border: 3px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    transition: background-color 0.1s ease;
    margin-top: 20px; }
  .registration-page button:hover {
    background-color: white;
    color: #000; }
  .registration-page img {
    height: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

/*# sourceMappingURL=style.css.map */