$primary-color: #ffffff
$logo-color: #F2E278
$primary-font: FontAwesome, Helvetica, sans-serif

@font-face
  font-family: 'FontAwesome'
  src: url('fonts/Asap-Regular.otf') format('opentype')
body
  background: linear-gradient(rgba(0,117,169,1), #880A6C) fixed
  color: $primary-color
  font-family: $primary-font
  display: flex
  flex-direction: column
a
  color: inherit

a:hover
  color: inherit
  text-decoration: none
  padding-bottom: 2px
  border-bottom: 2px solid
img
  user-drag: none
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none
nav
  margin-top: 3rem
  height: 70px
  .logo
    position: relative
    height: 40px
    top: 50%
    transform: translateY(-50%)
    float: left
  ul.left
    position: relative
    top: 50%
    transform: translateY(-50%)
    display: inline
    float: left
    li
      list-style: none
      text-align: center
      color: $logo-color
      display: inline-block
      padding-left: 40px
  ul.right
    float: right
    position: relative
    top: 50%
    transform: translateY(-50%)
    border: 1px solid $logo-color
    border-radius: 3px
    padding: 10px
    margin-bottom: 0px
    li
      list-style: none
      text-align: center
      color: $logo-color
main
  margin-top: 30px
  padding-top: 30px
  padding-bottom: 30px
  background-color: rgba(255,255,255,0.2)
.home
  align-items: center
  img
    width: 80%



footer
  margin-top: 20px
  margin-bottom: 20px
  color: rgba(255,255,255,.7)
  font-size: 12px
  text-align: left!important
.login-page
  font-size: 1.5rem
  padding: 20px
  text-align: center
  label.error
      font-size: 10px
      margin-bottom: 0px
      margin-left: 17px
      margin-top: 3px
      display: block
      position: absolute
  main
    border-radius: 3px
    max-width: 500px
    margin-left: auto
    margin-right: auto
    padding-left: 70px
    padding-right: 70px
    padding-top: 30px
    padding-bottom: 30px
  .row
    height: 70px
  p
    display: block
  input
    border: 3px solid white
    border-radius: 4px
    color: black
    margin-left: 10px
    padding-left: 8px
  input.error
    border: solid $logo-color
  button
    margin-top: 15px
    border: 3px solid white
    border-radius: 4px
    color: white
    background-color: transparent
    transition: background-color 0.1s ease
  button:hover
    background-color: white
    color: #000
  img
    height: 70px
    margin-top: 60px
    margin-bottom: 60px
    display: block
    margin-left: auto
    margin-right: auto
.signup-page
  select
    background-color: white
    border: 7px solid white
    border-radius: 4px
    color: black
    margin-left: 10px
.registration-page
  font-size: 1.2rem
  padding: 20px
  text-align: center
  label.error
    font-size: 10px
    margin-bottom: 0px
    margin-left: 5px
    margin-top: 3px
    display: block
    position: absolute
  .left
    text-align: right
  main
    border-radius: 3px
    width: 600px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    padding-top: 30px
    padding-bottom: 30px
  .row
    margin: 5px
    display: flex
    align-items: center
    height: 57px
  .col-md-4
    padding: 0px
  input
    border: 3px solid white
    border-radius: 4px
    color: black
    width: 100%
    padding-left: 5px
  input.error
    border: solid $logo-color
  button
    border: 3px solid white
    border-radius: 4px
    color: white
    background-color: transparent
    transition: background-color 0.1s ease
    margin-top: 20px
  button:hover
    background-color: white
    color: #000
  img
    height: 70px
    margin-top: 60px
    margin-bottom: 60px
    display: block
    margin-left: auto
    margin-right: auto