<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

    <title>AdCall Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

<header>
    <div class="container">
        <nav>

            <a href="/" title="Take me home">
                <img class="logo" src="images/logo.png">
            </a>

            <ul class="left">
                <li><a href="/">How it works</a></li>
                <li><a href="mailto:marcogreselin@me.com">Contacts</a></li>
            </ul>

            <ul class="right">
                <li><a href="login">Log In</a></li>
                <li><a href="signup">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="home">
                    <img  src="images/home.png" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <h1>Receive calls from online banners with AdCall</h1>
                <p>AdCall are the next generation of advertising banner. When users click on them they are not redirected to
                    a website. Insted they start an in-browser in-banner video with you.</p>
                <p>This allows advertisers to have a more direct way of talking to potential customers leading to higher
                    conversions, lower acquisition costs and more happiness.</p>
                <p>Publishers love AdCall too because our CPM is higher than any other ad media.</p>
                <p>Users can get answers to their questions fast instead of browsing website. So yes, they love AdCall too!</p>
            </div>
        </div>
    </div>

</main>

<footer>
    <div class="container">
        &copy; MMXVI Marco Greselin
    </div>
</footer>


<!-- jQuery first, then Bootstrap JS. -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>



</body>
</html>