<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

    <title>AdCall Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class="login-page">
<header>
    <div class="container">
        <a href="/" title="Take me home">
            <img class="logo" src="images/logo.png">
        </a>
        <p>
        <h1>Log In</h1>
        </p>
    </div>
</header>

<main>


    <form id="login-form" method="post" action="../auth/login">
        <div class="container login-page">
            <div class="row"><label for="email"></label><input type="text" placeholder="email" id="email" name="email" default="<% if(message[1]){ %><%= message[1] %><% } %>"></div>
            <div class="row"><label for="password"></label><input type="password" placeholder="password" id="password" name="password"></div>
            <% if(message[0] != null) { %>
                <div class="err"> <%= message[0] %> </div>
            <% } %>

            <p><button id="login-btn">Enter!</button></p>
            <a href="/signup"><h6>Don't have an account?</h6></a>
        </div>
    </form>

</main>

<footer>
    <div class="container">
        &copy; MMXVI Marco Greselin
    </div>
</footer>


<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {

        $('#login-form').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                email: "What's your email again?",
                password: "Don't forget your password."
            }
        })

    });


</script>

</body>
</html>