<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Create magic</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- Jasny -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!--MY CSS-->
    <link rel="stylesheet" href="../stylesheets/style-loggedin.css">

</head>
<body>
<% include partials/header.ejs %>

<main>
    <div class="container">
        <button class="add-campaign" data-toggle="modal" data-target="#myModal">Add a new Campaign</button>
        <table style="width:100%">
            <tr>
                <th width="20%">Image</th>
                <th width="30%">Title</th>
                <th width="30%">Statistics</th>
                <th width="10%">Impressions</th>
                <th width="10%">Delete</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="" method="post">
                    <input class="campaign-title" id="title" name="title" type="text" placeholder="Enter a title for this campaign"><br>
                    Now please select an image for your banners. <b>This needs to be squared.</b>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select an image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&nbsp;</a>
                    </div>

                    <p>
                        How many impressions do you want for this campaign? <input type="text" placeholder="e.g. 1000">
                    </p>
                    <p>
                        Enter here the fallback website: <input type="text" placeholder="e.g. http://example.com">
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>



<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/tooltip.js"></script>
<!-- Jasny -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<!--Validate plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

<script>

    $(document).ready(function () {
//        from http://stackoverflow.com/questions/1260984/jquery-validate-less-than
        $.validator.addMethod('lessThanEqual', function(value, element, param) {
            return this.optional(element) || parseInt(value) <= parseInt($(param).val());
        }, "The value {0} must be less than {1}");

        $.validator.addMethod('moreThanEqual', function(value, element, param) {
            return this.optional(element) || parseInt(value) >= parseInt($(param).val());
        }, "The value {0} must be less than {1}");
        // From http://stackoverflow.com/questions/280759/jquery-validate-how-to-add-a-rule-for-regular-expression-validation
        $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Please check your input."
        );

        $('#company-registration').validate({
            rules: {
                title: {
                    required: true
                },
                image: {
                    required: true
                },
                impressions: {
                    required: true,
                    lessThanEqual: 100000,
                    moreThanEqual: 1000
                },
                fallback: {
                    regex: "/^(http(s?):\/\/)?(www\.)+[a-zA-Z0-9\.\-\_]+(\.[a-zA-Z]{2,3})+(\/[a-zA-Z0-9\_\-\s\.\/\?\%\#\&\=]*)?$/",
                    required: true
                }
            },
            messages: {
                title: "Please type a title.",
                image: "Please select an image.",
                impressions: "Please select a number of impressions betwenn 1k and 100k.",
                fallback: "Please enter a valid fallback website."
            }
        })
    });

</script>

</body>
</html>