<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Create magic</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- Jasny -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!--MY CSS-->
    <link rel="stylesheet" href="../stylesheets/style-loggedin.css">

</head>
<body>
<% include partials/header.ejs %>

<main>
    <div class="container">
        <button class="add-campaign" data-toggle="modal" data-target="#agentmodal">Add a new Agent</button>
        <table style="width:100%">
            <tr>
                <th width="20%">First Name</th>
                <th width="30%">Last Name</th>
                <th width="30%">Email</th>
                <th width="10%">Admin</th>
                <th width="10%">Delete</th>
            </tr>
            <% for(var i=0; i<locals.rows.length; i++) { %>
            <tr>
                <td><%= locals.rows[i].firstname %></td>
                <td><%= locals.rows[i].lastname %></td>
                <td><%= locals.rows[i].email %></td>
                <td><%= locals.rows[i].admin %></td>
                <td><% if(locals.agentid!=locals.rows[i].agentid) { %>Delete Here<% } %></td>

            </tr>
            <% } %>
        </table>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="agentmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="" method="post" id="agent-wizard">

                    <div class="row">
                        <div class="col-sm-3">
                            <img src="../images/one-circle.png" alt="First" width="100px">
                        </div>
                        <div class="col-sm-9">
                            Make sure your users have registered on AdCall.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <img src="../images/two-circle.png" alt="First" width="100px">
                        </div>
                        <div class="col-sm-9">
                            Enter here below the email address they used to register on AdCall.
                            <input type="text" placeholder="e.g. example@example.com" id="email" name="email">
                            <div id="emailnotfound"></div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>



<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/tooltip.js"></script>
<!-- Jasny -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<!--Validate plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

<script>


    $(document).ready(function() {


        $("#btn-save").click(function() {
            var email = $( "#email" ).val();

            $.ajax({    //create an ajax request to load_page.php
                type: "POST",
                url: "",
                data: {email: email},
                success: function(response){
                    location.reload();
                },
                error: function(data){
                    $("#emailnotfound").html("This email address is not registered with us!");
                }
            });
        });
    });

//    (() => {
//        document.getElementById("email").onchange = () => {
//
//            const xhr = new XMLHttpRequest();
//            xhr.open('GET', ``);
//            xhr.onreadystatechange = () => {
//                if(xhr.readyState === 4){
//                    if(xhr.status === 200){
//                        alert('user found')
//                    }
//                    else{
//                        alert('User not found.');
//                    }
//                }
//
//        };
//    };
//
//
//
//    function uploadFile(file, signedRequest, url){
//        const xhr = new XMLHttpRequest();
//        xhr.open('PUT', signedRequest);
//        xhr.onreadystatechange = () => {
//            if(xhr.readyState === 4){
//                if(xhr.status === 200){
//                    document.getElementById('preview').src = url;
//                    document.getElementById('bannerurl').value = url;
//                }
//                else{
//                    alert('Could not upload file.');
//                }
//            }
//        };
//        xhr.send(file);
//    }

</script>

</body>
</html>