<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

    <title>Create magic</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style-loggedin.css">
</head>
<body>
<% include partials/header.ejs %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <video id="localVideo"></video>
            </div>
            <div class="col-md-8">
                <button id="take-calls">Start taking calls</button>

            </div>


        </div>
    </div>

</main>

<% include partials/footer.ejs %>



<!-- jQuery first, then Bootstrap JS. -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://simplewebrtc.com/latest-v2.js"></script>

<script>

    var webrtc = new SimpleWebRTC({
        // the id/element dom element that will hold "our" video
        localVideoEl: 'localVideo',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: 'remoteVideos',
        // immediately ask for camera access
        autoRequestMedia: true,
        media: { video: true, audio: true }
    });

    webrtc.on('readyToCall', function () {
        // you can name it anything
        webrtc.joinRoom('64');
    });
</script>
</body>
</html>