<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Create magic</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- Jasny -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!--MY CSS-->
    <link rel="stylesheet" href="../stylesheets/style-loggedin.css">

</head>
<body>
<% include partials/header.ejs %>

<main>
    <div class="container">
        <button class="add-campaign" data-toggle="modal" data-target="#myModal">Add a new Campaign</button>

        <table style="width:100%">
            <tr>
                <th width="20%">Image</th>
                <th width="30%">Title</th>
                <th width="30%">Statistics</th>
                <th width="10%">Impressions</th>
                <th width="10%">Delete</th>
            </tr>
            <% for(var i=0; i<locals.rows.length; i++) { %>
                <tr>
                    <td><img style="display:block; margin: 10px" width="100%"  src="<%= locals.rows[i].image %>"></td>
                    <td><%= locals.rows[i].title %></td>
                    <td>Stats here</td>
                    <td><%= locals.rows[i].impressions %></td>
                    <td>Delete Here</td>
                <tr>
            <% } %>
        </table>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post" id="campaign-wizard">
                <div class="modal-body">
                    <input class="campaign-title" id="title" name="title" type="text" placeholder="Please enter a title"><br>
                    Now please select an image for your banners. <b>This needs to be squared.</b>
                    <div class="row selectpreview">
                        <div class="col-md-6 left">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select an image</span><span class="fileinput-exists">Change</span><input type="file" id="fileinput" name="fileinput"></span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&nbsp;</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--Used for preview-->
                            <input type="hidden" id="bannerurl" name="bannerurl">
                            <img id="preview" src="">
                        </div>
                    </div>



                    <p>
                        How many impressions do you want for this campaign? <input type="text" placeholder="e.g. 1000" id="impressions" name="impressions">
                    </p>
                    <p>
                        Enter here the fallback website: <input type="text" id="fallback" name="fallback" placeholder="e.g. http://example.com">
                    </p>
                    <p class="errorsBox"></p>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>



<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/tooltip.js"></script>
<!-- Jasny -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<!--Validate plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

<script>

    $(document).ready(function () {
        // From http://stackoverflow.com/questions/1260984/jquery-validate-less-than
//        $.validator.addMethod('lessThanEqual', function(value, element, param) {
//            return this.optional(element) || parseInt(value) <= parseInt($(param).val());
//        }, "The value {0} must be less than {1}");
//
//        $.validator.addMethod('moreThanEqual', function(value, element, param) {
//            return this.optional(element) || parseInt(value) >= parseInt($(param).val());
//        }, "The value {0} must be less than {1}");
        // From http://stackoverflow.com/questions/280759/jquery-validate-how-to-add-a-rule-for-regular-expression-validation
        $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Please check your input."
        );

        $('#campaign-wizard').validate({
            rules: {
                title: {
                    required: true
                },
                fileinput: {
                    required: true
                },
                impressions: {
                    required: true,
//                    moreThanEqual: 10,
//                    lessThanEqual: 5000
                },
                bannerurl: {
                    required: true
                },
                fallback: {
                    required: true
                }
            },
            messages: {
                title: "Please enter a title.",
                impressions: "Please enter how many impressions you want.",
                fileinput: "Please upload an image",
                fallback: "Please enter a valid fallback website."
            },
            errorLabelContainer: ".errorsBox",
            wrapper: "li",
            validClass: null
        })
    });

</script>

<script>
    // Uploading banner image: https://devcenter.heroku.com/articles/s3-upload-node

    (() => {
        document.getElementById("fileinput").onchange = () => {
            const files = document.getElementById('fileinput').files;
            const file = files[0];
            if(file == null){
                return alert('No file selected.');
            } else {
                getSignedRequest(file);
            }
        };
    })();

    function getSignedRequest(file){
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `./sign-s3?file-name=${file.name}&file-type=${file.type}`);
        xhr.onreadystatechange = () => {
            if(xhr.readyState === 4){
                if(xhr.status === 200){
                    const response = JSON.parse(xhr.responseText);
                    console.log(response);
                    uploadFile(file, response.signedRequest, response.url);
                }
                else{
                    alert('Could not get signed URL.');
                }
            }
        };
        xhr.send();
    }

    function uploadFile(file, signedRequest, url){
        const xhr = new XMLHttpRequest();
        xhr.open('PUT', signedRequest);
        xhr.onreadystatechange = () => {
            if(xhr.readyState === 4){
                if(xhr.status === 200){
                    document.getElementById('preview').src = url;
                    document.getElementById('bannerurl').value = url;
                }
                else{
                    alert('Could not upload file.');
                }
            }
        };
        xhr.send(file);
    }
</script>

</body>
</html>