<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

    <title>AdCall Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style-loggedin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>

</head>
<body>

<% include partials/header.ejs %>
<main>
    <div class="container console-home">
        <img src="../images/welcome-dashboard.png" alt="Welcome" width="60%" style="margin-left: auto; margin-right: auto; display: block; margin-bottom: 30px">
        <div class="row">
            <div class="col-md-4">
                <% var totalImpressionsLast7=0;
                   if (typeof locals.impressionsData!="undefined"){
                        for(var i=0; i<impressionsData.length-1; i++)
                            totalImpressionsLast7 += parseInt(impressionsData[i].count)
                    } %>

                <h4>Welcome to your dashboard <%= agentfirstname %>!</h4>
                <% if (totalImpressionsLast7 != 0){ %>
                    In the last 7 days your ads had <%= totalImpressionsLast7 %> impressions.
                <% } %>


            </div>
            <div class="col-md-8">

                <% if(totalImpressionsLast7===0){ %>
                    <div class="no-content">
                        No data to show :(
                    </div>
                <% } else { %>
                    <div id="console-chart">
                        <canvas id="chart" ></canvas>
                    </div>
                <% } %>
            </div>

        </div>

        <script>
            var chartInputData=[];
            var chartInputDates=[];
            <%
                if (typeof locals.impressionsData!="undefined"){
                    for(var i=0; i<impressionsData.length-1; i++){ %>
                        chartInputData.push(<%=impressionsData[i].count%>);
                        chartInputDates.push("<%=impressionsData[i].date%>");
                    <% }
                } %>
            console.log(chartInputData);
            var ctx = document.getElementById('chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: chartInputDates,
                    datasets: [{
                        label: 'Impressions',
                        data: chartInputData,
                        backgroundColor: [
                            'rgba(136, 10, 108,.2)'
                        ],
                        borderColor: [
                            'rgba(136, 10, 108,1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        </script>



    </div>

</main>

<% include partials/footer.ejs %>



<!-- jQuery first, then Bootstrap JS. -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

</body>
</html>