<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Account Setup</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style-loggedin.css">
</head>
<body>
<% include partials/header.ejs %>
<div class="setup">
<main>

    <img src="../images/welcome.png" width="500px" alt="Welcome!">
    <h5>Let's get you setup!</h5>

    <div class="wrap">
        <h3>Is your company registered with us?</h3>
        If yes, please ask your admin to add you to their company account. It's super quick. Once it's done, please logout and login again.
        <div class="highlight">The email you used to register is: <span id="email"><%= locals.email %> </span>  </div>
    </div>
    <div class="wrap">
        <h3>Are you the first user in your company?</h3>
        Then welcome! Let's register your company here. Just fill out the form below to become the admin of your company account.

        <form id="company-registration" action="" method="post">
        <select name="companytype" id="companytype" class="required">
            <option selected disabled>Select your company type</option>
            <option value="1">Advertiser</option>
            <option value="2">Publisher</option>
            <!--<option value="3">Agency</option>-->
        </select>
        <div class="row"><div class="col-sm-4 left"><label for="companyname">Company Name:</label></div> <div class="col-sm-8"><input type="text" name="companyname" id="companyname"></div></div>
        <div class="row"><div class="col-sm-4 left"><label for="address1">Address:</label></div> <div class="col-sm-8"><input type="text" name="address1" id="address1"><br><input type="text" name="address2" id="address2"></div></div>
        <div class="row"><div class="col-sm-4 left"><label for="postcode">Post Code:</label></div> <div class="col-sm-8"><input type="text" name="postcode" id="postcode"></div></div>
        <div class="row"><div class="col-sm-4 left"><label for="city">City:</label></div> <div class="col-sm-8"><input type="text" name="city" id="city"></div></div>
        <div class="row last"><div class="col-sm-4 left">Country:</div><div class="col-sm-8">
            <select name="country" id="country">
                <option selected disabled>Select your country</option>
                <option value="UK">United Kingdom</option>
            </select>
        </div></div>

            <div class="errorsbox"></div>
        <button>Create Company</button>

        </form>
    </div>
        



</main>
</div>

<% include partials/footer.ejs %>



<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>


<script>



    $(document).ready(function () {
        // From http://stackoverflow.com/questions/280759/jquery-validate-how-to-add-a-rule-for-regular-expression-validation
        $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Please check your input."
        );

        $('#company-registration').validate({
            rules: {
                companyname: {
                    required: true
                },
                address1: {
                    required: true
                },
                postcode: {
                    regex: "^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$",
                    required: true
                },
                city: {
                    required: true
                },
                country: {
                    required: true
                },
                companytype: {
                    required: true
                }
            },
            messages: {
                companytype: "Please select what kind of company you wish to register.",
                companyname: "Please enter your company name.",
                address1: "Please enter your company address.",
                postcode: "Please enter a valid UK postcode.",
                city: "Where's your company based?",
                country: "Please select a country."
            },


            errorLabelContainer:".errorsbox",
            wrapper:"li"

        })

    });


</script>

</body>
</html>